<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34759494051-g4u7qjetmcqhuhvdeilll2daabr6q4ve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34759494051-g4u7qjetmcqhuhvdeilll2daabr6q4ve</string>
	<key>API_KEY</key>
	<string>AIzaSyAdrptptfFRVSRFGAI4mnzS3GrdTRNYUyk</string>
	<key>GCM_SENDER_ID</key>
	<string>34759494051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appnative</string>
	<key>PROJECT_ID</key>
	<string>appnative-f747b</string>
	<key>STORAGE_BUCKET</key>
	<string>appnative-f747b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34759494051:ios:3a7d5ea46961c65296f216</string>
</dict>
</plist>